
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-VariableFont_wdth,wght.ttf);
  font-weight: normal;
}

:root {
  font-family: "Roboto";
}

iframe {
  border: none;
}

nav {
  text-align: left;
}
